/* styles.css */
html {
  background-color: lightgrey; /* Light grey background for the whole HTML document */
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Header styles */
h1 {
  text-align: center;
  margin-top: 20px;
}

/* Tab styles */
.tab {
  overflow: hidden;
  border: 1px solid #5887a6;
  background-color: #f4ebeb;
}

.tab button {
  background-color: #ffffff;
  float: left;
  border:  1px solid #5887a6;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #000000; /* Change text color to dark gray */
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

/* Tab content styles */
.tabcontent {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Button styles */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button:hover {
  background-color: #45a049;
}

/* Table styles */
.dayTable {
  width: 50%;
  border-collapse: collapse;
}

.dayTable th, .dayTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Add and Remove Row button styles */
.addButton, .removeButton {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.addButton:hover, .removeButton:hover {
  background-color: #005f6b;
}

/* Save and Clear Data button styles and footer styles*/
.footer button:last-child {
  background-color: #009688; /* Red color for Save button */
}

.footer button:last-child:hover {
  background-color: #00796b; /* Darker red color on hover */

}

.footer {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.footer button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #333; /* Change text color to dark gray */
}

.footer button:hover {
  background-color: #ddd;
}

.footer button.active {
  background-color: #ccc;
}

.footer {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding-top: 8px;
  padding-bottom: 8px;
}

.footer button {
  margin: 0 10px; /* Add some spacing between buttons */
}

/* Day header styles */
.dayHeader {
  background-color: rgb(174, 198, 216);
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 7px;
}

.dayHeader h5 {
  font-weight: normal; /* Normal font weight */
  font-size: 18px; /* Adjust font size */
  padding-left: 20px;
}

/* Day header styles */
.dayBody {
  background-color: lightgrey;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 7px;
}

.textArea {
    width: calc(100% - 1px);
    height: 100px;
    padding: 14px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    resize: vertical;
}

.inputField {
  width: calc(100% - 1px); /* Subtract padding */
  padding: 7px;
  border: 1px solid black;
  background-color: lightgrey;
  border-radius: 5px;
  margin-bottom: 10px; /* Spacing between input and separator */
}

.separator {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 10px 0; /* Spacing above and below the separator */
}

.dayBody h2 {
  font-weight: normal; /* Normal font weight */
  font-size: 18px; /* Adjust font size */
}

/* Day button styles */
.dayButtons button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  float: left;
  border-radius: 4px;
  cursor: pointer;
}

.dayButtons button:hover {
  background-color: #45a049;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .dayTable {
    width: 100%; /* Set table width to 100% of the viewport */
  }

  .dayTable th {
    font-size: 14px; /* Decrease font size of table headers */
  }

  .dayTable th, .dayTable td {
    width: 80px; /* Set a smaller width for table cells */
    text-align: center; /* Center-align cell content */
  }

  .footer {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .footer button {
    margin: 0 10px; /* Add some spacing between buttons */
  }
  
}




